@charset "UTF-8";
/*Linha abaixo dos títulos*/
span{
	width: 5%;
	height: 3px;
	display: block;
	background-color: rgba(15, 116, 163, 0.6);
}
.progress-bar{
	background-color: rgba(15, 116, 163, 0.8);
}