@charset "UTF-8";

html, body {
    background: #fafafa;
    color: #1BBBFB;
  }

.carousel-inner img{
	width: 1980px;
	height:	500px;
}

.servicos {
	background: #fff;
	border-radius: 5px;
}

.servico .card {

}

.servicos img {
	width: 300px;
	height: 150px;
}

