td, th, tr{
	padding: .7em;
	margin: 0;
	text-align: center;
}

tr:hover{
	background-color: #EAEAEA;
	margin-top: 5px;
}

p.neat {
	display: none;
	clear: both;
	margin: 1em 0;
	padding: 1em 15px;
	width:100px;
	background: #0F67A1;
}

table {
	border-collapse:collapse;
	border:1px solid #CCC;
}

#tabela tr {
	border:1px solid #CCC;
}

#tabela td {
	width:40px;
	height:40px;
	padding:10px;
	border:1px solid #CCC;
}

tr{
	cursor: pointer;
}


.conteud {
	display: none;
	clear: both;
	margin: 1em 0;
	padding: 1em 15px;
	background: #EAEAEA;
}

#teste{
	margin-left: 5px;
}

.div_aba1{
	display:none;
	width: 1041px;
	height: 129px;
	border: 1px solid #EAEAEA;
	background-color: white;"
}

.div_aba2{
	display:none;
	width: 1041px;
	height: 129px;
	border: 1px solid #EAEAEA;
	background-color: white;"
}

.div_aba3{
	display:none;
	width: 1041px;
	height: 129px;
	border: 1px solid #EAEAEA;
	background-color: white;"
}
