@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; 
  padding: 0;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.1)
}

/* navbar */
header {
    background-image: url("https://abrilsaude.files.wordpress.com/2017/05/saucc81de-og.png");
    height: 500px;  
}

header a {
  font-size: 18px;
  color: whitesmoke;
}

header .navbar-brand {
  padding-left: 1rem;
}

header .nav-link:hover {
  color: rgb(74, 62, 233);
}

/* blog-topo */

.section-2 .card {
  max-width: 100%;
  height: 350px;
  margin-top: 2rem;
  background: white;
  border-radius: 5px;  
  box-shadow:  5px 10px 8px 10px #bdbbbbb7;
}

.section-2 img {
  height: 318px;  
  margin: 1rem ;
  border-radius: 5px;
}

.section-2 h5 {
  margin-left: 2rem;
  margin-top: 1rem;

}

.section-2 .card p {
    margin-left:  2rem;
    margin-right: 2rem;
   /* line-height: 30px;    */
    font-size: 18px;
    text-align: justify;
}

.section-2 .card .texto-pe {
  margin-top: 2rem;
  margin-left: 422px;
}

section .card {
  margin-top: 2rem;
  background: white;
  border-radius: 5px;  
  box-shadow:  5px 10px 8px 2px #bdbbbbb7;
}
 
section .card-img-top {
  width: 325px;  
  margin: 1rem ;
  border-radius: 5px;
}

section .data {
  margin-left: 210px;
}

.section-2 h2 {
    margin-right: 50px;
    font-size: 30px
}

section .card p {
   /* line-height: 30px;    */
    font-size: 18px;
    text-align: justify;
}

.section-3 .box {
    width: 22rem;
    height: 4rem;
    border-radius: 5px;
    background: white;
    margin: 2rem;
    margin-left:  390px;
    padding: 10px;    
}

.section-3 .box .circulo {
    width: 25px;
    height: 25px;
    background: rgb(151, 151, 153);
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.section-3 .box .circulo a {
    margin: 8px;    
}

.section-3 .box .circulo i {
    size: 25px;
}