@charset "UTF-8";

*{
	font-family: 'Maven Pro', sans-serif;
}
nav, footer{
	background-color: rgba(15, 116, 163, 0.6);
}
.btn-outline-light:hover{
	color: rgba(15, 116, 163, 0.6);
}
/*Título de contato e cadastro*/
.h1{
	line-height: 100px;
}
/*Linha abaixo dos títulos*/
span{
	width: 5%;
	height: 3px;
	display: block;
	background-color: rgba(15, 116, 163, 0.6);
}