@charset "UTF-8";

html, body {
    background: #fafafa;
    color: #1BBBFB;
  }

.carousel-inner img{
	width: 1980px;
	height:	500px;
}

.container .sobre h2 {
	margin: 20px;
	
}


.servicos {
	background: #fff;
	border-radius: 5px;
}

.servicos .card {
 width: 18rem;
}

.servicos img {
	width: 300px;
	height: 150px;
}
.row{
	margin-left: auto !important; 
	margin-right: auto !important; 
}
#tbConosco img{
	margin-left: -21px;
}
