@charset "UTF-8";

html, body {
    background: #fafafa;
    color: #1BBBFB;
  }

.carousel-inner img{
	width: 1980px;
	height:	600px !important;
}

.container .sobre h2 {
	margin: 20px;
	
}

.servicos {
	background: #fff;
	border-radius: 5px;
}

.servicos .card {
 width: 18rem;
}

.servicos img {
	width: 300px;
	height: 150px;
}
.row{
	margin-left: auto !important; 
	margin-right: auto !important; 
}
#tbConosco img{
	margin-left: -21px;
}
.carousel-caption{
	float: left !important;
    display: inline !important;
    top: auto !important;
    bottom: 10% !important;
    left: 0 !important;
    right: 0 !important;
	background-color: rgba(69, 69, 69, 0.2);
	color: black !important;
}
.carousel-caption h2{
	text-transform: uppercase !important;
	font-weight: bold;
}
