td, th, tr{
	padding: .7em;
	margin: 0;
	text-align: center;
}

table {
	border-collapse:collapse;
	border:1px solid #CCC;
}

#tr_servico:hover{
	cursor: pointer;
	background-color: #EAEAEA;
}

#tabela tr {
	border:1px solid #CCC;
}

#tabela td {
	width:40px;
	height:40px;
	padding:10px;
	border:1px solid #CCC;
}

.div_aba1{
	display:none;
	width: 1041px;
	height: 129px;
	border: 1px solid #EAEAEA;
	background-color: white;"
}

.div_aba2{
	display:none;
	width: 1041px;
	height: 129px;
	border: 1px solid #EAEAEA;
	background-color: white;"
}

.div_aba3{
	display:none;
	width: 1041px;
	height: 129px;
	border: 1px solid #EAEAEA;
	background-color: white;"
}





